{% extends 'QCA\base.html' %}
{% load static %}

{% block content %}


<div>
    <div class="ic4_data_section_heading d-flex align-items-end p-3 bg-body-tertiary">
        <img src="{% static 'src/logo.png' %}" height="24px" width="24px" alt="">
        <span class="mx-3 fw-normal fs-5">Data Quality</span>
    </div>

    <div class="d-flex flex-column flex-lg-row mt-lg-2 my-lg-4 px-3">
        <div class="ic4_data_section_cards_holder d-flex gap-4 gap-lg-3 w-lg-50 w-75 justify-content-start">
            <div class="ic4_data_section_cards p-sm-3 p-2" id="connector_div">
                <img src="{% static 'src/logo.png' %}" alt="">
                <div class="mt-1">Establish Connection</div>
            </div>
            <div class="ic4_data_section_cards p-sm-3 p-2" id = "configure_db">
                <img src="{% static 'src/logo.png' %}" alt="">
                <div class="mt-1">Configure DQ</div>
            </div>
            <div class="ic4_data_section_cards p-sm-3 p-2 visually-hidden">
                <img src="{% static 'src/logo.png' %}" alt="">
                <div class="">Placeholder</div>
            </div>
        </div>

        <div class="ic4_data_section_right_info d-flex w-lg-50 w-75 mt-lg-0 mt-5">
            <div class="w-100">
                <h4 class="border-bottom pb-2">Guide</h4>
                <h6 class="fw-normal">Connector</h6>
                <p class="ic4_data_section_right_info_data">Configure reusable and secure connection with
                    the data source. Use the connection for data and metadata extraction. Supported
                    connections - Database. File system, cloud</p>
                <h6 class="fw-normal">Register</h6>
                <p class="ic4_data_section_right_info_data">Registration is the process of defining the
                    source data.Describe the data types and formats. Register the source file as an object
                    to the data lake and access it with the registered object name for data ingestion and
                    consumption.</p>
                <h6 class="fw-normal">Data Quality</h6>
                <p class="ic4_data_section_right_info_data">Data Quality at Source ensures that the data is
                    accurate,complete, consistent, and valid right when it is captured or generated. This
                    minimizes the propagation of errors and ensures reliable data throughout its lifecycle.
                </p>
            </div>
        </div>

    </div>
</div>
<script>
            document.getElementById('connector_div').addEventListener('click', function () {
            // Redirect to another HTML page within the same project
            window.location.href = 'select_platform';  // Replace 'next_page.html' with your target HTML file
        });
        document.getElementById('configure_db').addEventListener('click', function () {
            // Redirect to another HTML page within the same project
            window.location.href = 'db_info';  // Replace 'next_page.html' with your target HTML file
        });
</script>

{% endblock %}